/* Keypad styles */

.keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 15px;
}

.keypad button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #ff6347; 
    font-size: 24px;
    font-weight: bold;
    color: #fff; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.keypad button:hover {
    background-color: #cc4c38; 
}

#play-again-button {
    margin-top: 20px;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    background-color: #4caf50;
    font-size: 24px;
    font-weight: bold;
    color: #fff; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

#play-again-button:hover {
    background-color: #388e3c; 
}