/* leaderboard.css */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#leaderboard-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#leaderboard-table th, #leaderboard-table td {
    padding: 8px;
    border: 1px solid #dddddd;
}

#leaderboard-table th {
    background-color: #ffa07a; /* Light Salmon */
    color: #ffffff; /* White */
}

#leaderboard-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Light Grey */
}

#leaderboard-table tr:hover {
    background-color: #ddd; /* Darker Grey */
}
